# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.claude
# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
runs

run
run-data

# Files from Forge MDK
forge*changelog.txt
